section, article {
	&.special {
		text-align: center;
	}
}

header {
	&.major {
		> :last-child {
			border-bottom: solid 3px _palette(accent);
			display: inline-block;
			margin: 0 0 _size(element-margin) 0;
			padding: 0 0.75em 0.5em 0;
		}
	}
}
