{% if shownotes|length %}
    <h2>Заметки к&nbsp;выпуску</h2>
    {% if shownotesDescription %}
        {{ shownotesDescription | safe }}
    {% endif %}
    <ul>
        {% for note in shownotes %}
            <li>
                <p>
                    {% if note.url %}
                        <a href="{{ note.url | url }}">{{ note.title | safe }}</a>
                    {% else %}
                        {{ note.title | safe }}
                    {% endif %}
                </p>
                {% if note.description %}
                    <p>{{ note.description | safe }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
