<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="Description" content="{{ (renderData.description or description or metadata.description) | safe }}">
        <meta name="yandex-verification" content="8bac4fdd13846b45" />
        <meta name="google-site-verification" content="U389QgVh3DiPUFAnQdY7XAT1liuFnlUwJJabeFg-jlU" />
		<title>{{ (renderData.title or title or metadata.title) | safe }}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.webmanifest">
        <link rel="stylesheet" href="{{ '/build/css/bundle.css' | url }}">
        <link rel="stylesheet" href="{{ '/dist/css/fontawesome-all.min.css' | url }}">
        {% include "counters/yandex-metrika.njk" %}
        {% include "counters/google-analytics.njk" %}
	</head>
	<body>
        <div id="wrapper">

            {{ content | safe }}

            <div class="sidebar is-inactive">
                <div class="sidebar__body">
                    {% include "components/sidebar-menu.njk" %}

                    {% include "components/sidebar-contacts.njk" %}

                    {% include "components/sidebar-footer.njk" %}
                </div>
            </div>

            <button
                class="reset-button sidebar-button"
                onclick="document.querySelector('.sidebar').classList.toggle('is-inactive');"
            ></button>
        </div>
	</body>
</html>
