---
layout: layouts/base.njk
---

<div id="main">
    <div class="inner">
        <header id="header" class="header">
            <div class="header__nav">
                <a href="{{ '/' | url }}" class="header__logo">
                    <strong>{{ metadata.title }}</strong>
                </a>
            </div>
            <ul class="icons header__icons">
                {% for link in metadata.author.socials %}
                    <li>
                        <a href="{{ link.url }}" class="icon brands fa-{{ link.icon }}">
                            <span class="label">{{ link.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </header>

        {{ content | safe }}
    </div>
</div>
