---
layout: layouts/base.njk
---

<div id="main">
    <div class="inner">
        <!-- Header -->
        <header id="header" class="header">
            <div class="header__nav">
                <a href="{{ '/podcast/' | url }}" class="header__logo">
                    <strong>{{ metadata.podcast.name | safe }}</strong>
                </a>
                {% if number %}
                    · Выпуск&nbsp;{{ number }}
                {% endif %}
            </div>
            <ul class="icons header__icons">
                {% for link in metadata.podcast.socials %}
                    <li>
                        <a href="{{ link.url }}" class="icon brands fa-{{ link.icon }}">
                            <span class="label">{{ link.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </header>

        {{ content | safe }}
    </div>
</div>
