.credits {
    font-size: 12px;
    line-height: 1;
    color: _palette(fg-secondary);
}

.credits__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.credits__item {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;

    &:not(:first-child) {
        &:before {
            content: '\25CF';
            margin-left: 10px;
            margin-right: 10px;
            font-size: 5px;
            display: flex;
            align-items: center;
        }
    }
}

.credits__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
