.episode-neighbor-preview {
    display: flex;
    flex-wrap: nowrap;
}

.episode-neighbor-preview__picture {
    margin-right: 20px;
    width: 110px;
    flex-shrink: 0;

    @include breakpoint('<=xsmall') {
        display: none;
    }
}

.episode-neighbor-preview__credits {
    margin-bottom: 7px;
}

.episode-neighbor-preview__title {
    margin: 0 0 0.5em 0;
}

.episode-neighbor-preview__main {
    flex-basis: 100%;
}

.episode-neighbor-preview__description {
    display: none;

    @include breakpoint('medium') {
        display: block;
    }
}
