---
layout: layouts/home.njk
eleventyNavigation:
    key: Главная
    order: 1
---

<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Привет, я&nbsp;Мария Воробьева</h1>
            <p>Сертифицированный преподаватель хатха-йоги, дипломированный йогатерапевт, специалист по&nbsp;лечебной физкультуре.</p>
        </header>
        <p>Веду <a href="http://pranayoga.ru/master/vorobeva" rel="nofollow">групповые занятия по&nbsp;хатха йоге и&nbsp;йогатерапии</a>. Увлекаюсь историей и&nbsp;философией йоги, изучаю религиоведение, и&nbsp;делюсь своими знаниями <a href="/podcast/">в&nbsp;подкасте &laquo;Ёжик в&nbsp;нирване&raquo;</a>.</p>
        <ul class="actions">
            <li><a href="{{ '/about/' | url }}" class="button big">Подробнее обо мне</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="images/photo-masha.jpg" alt="Фотография Марии Воробьевой" />
    </span>
</section>
