<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;</title>
        <meta name="Description" content="Мой личный подкаст о&nbsp;различных аспектах йоги и&nbsp;всего связанного с&nbsp;ней. Обсуждение острых тем, интервью с&nbsp;интересными, знающими людьми, обзоры книг, курсов и&nbsp;многое другое.">
        <link rel="stylesheet" href="/dist/css/bundle.css">
        <link rel="stylesheet" href="/dist/css/fontawesome-all.min.css">
	</head>
	<body class="is-preload">
        <div id="wrapper">

            



<div id="main">
    <div class="inner inner_style_podcast">
        <header id="header" class="header">
            <div class="header__nav">
                <a href="/podcast/" class="header__logo">
                    <strong>Ёжик в&nbsp;нирване</strong>
                </a>
            </div>
            <ul class="icons header__icons header__icons_color_dark">
                
                    <li>
                        <a href="https://www.facebook.com/groups/480187345805393/" class="icon brands fa-facebook-f">
                            <span class="label">Facebook</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="https://vk.com/hedgehoginnirvana" class="icon brands fa-vk">
                            <span class="label">Вконтакте</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="https://www.instagram.com/hedgehoginnirvana/" class="icon brands fa-instagram">
                            <span class="label">Instagram</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="https://www.youtube.com/channel/UCDO1zjq34CrgHe2wCNwwMmg" class="icon brands fa-youtube">
                            <span class="label">Youtube</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="https://soundcloud.com/hedgehoginnirvana" class="icon brands fa-soundcloud">
                            <span class="label">Soundcloud</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="https://www.patreon.com/hedgehoginnirvana" class="icon brands fa-patreon">
                            <span class="label">Patreon</span>
                        </a>
                    </li>
                
            </ul>
        </header>

        <section id="banner">
            <div class="content">
                <header>
                    <h1>Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;</h1>
                    <p class="lead">Мой личный подкаст о&nbsp;различных аспектах йоги и&nbsp;всего связанного с&nbsp;ней. Обсуждение острых тем, интервью с&nbsp;интересными, знающими людьми, обзоры книг, курсов и&nbsp;многое другое.</p>
                </header>
                <ul class="actions">
                    <li><a href="/podcast/episodes/" class="button big">Все выпуски подкаста</a></li>
                </ul>
            </div>
            <span class="image object">
                <img src="/images/podcast/logo-square.jpg" alt="Человекоподобный ёж в позе лотоса держит яблоко" />
            </span>
        </section>
    </div>
    <div class="inner">
        
    
    

    

    <pre>[ { template: 
     Template {
       inputPath: './pages/podcast/episodes/_.md',
       inputDir: '.',
       parsed: [Object],
       extraOutputSubdirectory: '',
       outputDir: '_site',
       _extensionMap: [Object],
       linters: [],
       transforms: [],
       plugins: {},
       templateData: [Object],
       paginationData: {},
       isVerbose: true,
       isDryRun: false,
       writeCount: 0,
       skippedCount: 0,
       wrapWithLayouts: true,
       fileSlug: [Object],
       fileSlugStr: '_',
       filePathStem: '/pages/podcast/episodes/_',
       _templateRender: [Object],
       inputContent: '---json\n{\n\t"permalink": false,\n\t"number": 0,\n\t"title": "",\n\t"description": "",\n\t"date": "",\n\t"duration": "",\n\t"soundcloudTrackId": "",\n\t"tableOfContents": [\n\t\t{"time": "", "title": ""}\n\t],\n\t"shownotes": [\n\t\t{\n\t\t\t"title": "",\n\t\t\t"description": "",\n\t\t\t"url": ""\n\t\t}\n\t]\n}\n---\n',
       _config: [Object],
       frontMatter: [Object],
       _layoutKey: 'layouts/episode.njk',
       _layout: [Object],
       dataCache: [Object],
       computedData: [Object] },
    inputPath: './pages/podcast/episodes/_.md',
    fileSlug: '_',
    filePathStem: '/pages/podcast/episodes/_',
    data: 
     { metadata: [Object],
       pkg: [Object],
       layout: 'layouts/episode.njk',
       permalink: false,
       tags: [Array],
       renderData: [Object],
       number: 0,
       title: '',
       description: '',
       date: '',
       duration: '',
       soundcloudTrackId: '',
       tableOfContents: [Array],
       shownotes: [Array],
       page: [Object],
       collections: [Object] },
    date: 2020-09-28T19:33:23.337Z,
    outputPath: false,
    url: false,
    templateContent: [Getter/Setter] } ]</pre>

    
        <section class="episodes">
            
                <header class="major episodes__header">
                    <h2>Новый выпуск</h2>
                </header>
            
            <ul class="episodes__list block-list">
                
                    <pre>{ template: 
   Template {
     inputPath: './pages/podcast/episodes/_.md',
     inputDir: '.',
     parsed: 
      { root: '',
        dir: './pages/podcast/episodes',
        base: '_.md',
        ext: '.md',
        name: '_',
        extname: '.md',
        basename: '_.md',
        dirname: './pages/podcast/episodes',
        stem: '_',
        path: './pages/podcast/episodes/_.md',
        absolute: [Getter/Setter],
        isAbsolute: [Getter/Setter] },
     extraOutputSubdirectory: '',
     outputDir: '_site',
     _extensionMap: 
      EleventyExtensionMap {
        formatKeys: [Array],
        unfilteredFormatKeys: [Array],
        _extensionToKeyMap: [Object],
        validTemplateLanguageKeys: [Array],
        passthroughCopyKeys: [],
        configOverride: [Object],
        _engineManager: [Object] },
     linters: [],
     transforms: [],
     plugins: {},
     templateData: 
      TemplateData {
        config: [Object],
        dataTemplateEngine: 'njk',
        inputDirNeedsCheck: true,
        inputDir: '.',
        dataDir: '_data',
        rawImports: [Object],
        globalData: [Object],
        _extensionMap: [Object],
        pathCache: [Array] },
     paginationData: {},
     isVerbose: true,
     isDryRun: false,
     writeCount: 0,
     skippedCount: 0,
     wrapWithLayouts: true,
     fileSlug: 
      TemplateFileSlug {
        inputPath: 'pages/podcast/episodes/_.md',
        cleanInputPath: 'pages/podcast/episodes/_.md',
        dirs: [Array],
        parsed: [Object],
        filenameNoExt: '_' },
     fileSlugStr: '_',
     filePathStem: '/pages/podcast/episodes/_',
     _templateRender: 
      TemplateRender {
        engineNameOrPath: './pages/podcast/episodes/_.md',
        inputDir: '.',
        _config: [Object],
        includesDir: '_includes',
        parseMarkdownWith: 'liquid',
        parseHtmlWith: 'njk',
        _extensionMap: [Object],
        _engineName: 'md',
        _engine: [Object],
        useMarkdown: false },
     inputContent: '---json\n{\n\t"permalink": false,\n\t"number": 0,\n\t"title": "",\n\t"description": "",\n\t"date": "",\n\t"duration": "",\n\t"soundcloudTrackId": "",\n\t"tableOfContents": [\n\t\t{"time": "", "title": ""}\n\t],\n\t"shownotes": [\n\t\t{\n\t\t\t"title": "",\n\t\t\t"description": "",\n\t\t\t"url": ""\n\t\t}\n\t]\n}\n---\n',
     _config: 
      { templateFormats: [Array],
        pathPrefix: '/',
        markdownTemplateEngine: 'liquid',
        htmlTemplateEngine: 'njk',
        dataTemplateEngine: 'njk',
        passthroughFileCopy: true,
        htmlOutputSuffix: '-o',
        jsDataFileSuffix: '.11tydata',
        keys: [Object],
        dir: [Object],
        filters: {},
        handlebarsHelpers: [Object],
        nunjucksFilters: [Object],
        linters: {},
        layoutAliases: {},
        passthroughCopies: [Object],
        liquidOptions: {},
        liquidTags: [Object],
        liquidFilters: [Object],
        liquidShortcodes: {},
        liquidPairedShortcodes: {},
        nunjucksAsyncFilters: [Object],
        nunjucksTags: {},
        nunjucksAsyncShortcodes: {},
        nunjucksShortcodes: {},
        nunjucksAsyncPairedShortcodes: {},
        nunjucksPairedShortcodes: [Object],
        handlebarsShortcodes: {},
        handlebarsPairedShortcodes: {},
        javascriptFunctions: [Object],
        pugOptions: {},
        ejsOptions: {},
        markdownHighlighter: [Function],
        libraryOverrides: [Object],
        dynamicPermalinks: true,
        useGitIgnore: true,
        dataDeepMerge: true,
        watchJavaScriptDependencies: true,
        additionalWatchTargets: [],
        browserSyncConfig: [Object],
        chokidarConfig: {},
        watchThrottleWaitTime: 0,
        frontMatterParsingOptions: undefined,
        dataExtensions: Map {},
        extensionMap: Set {},
        quietMode: false,
        events: [Object],
        inputDir: '.' },
     frontMatter: { content: '', data: [Object], isEmpty: false, excerpt: '' },
     _layoutKey: 'layouts/episode.njk',
     _layout: 
      TemplateLayout {
        inputPath: './_includes/layouts/episode.njk',
        inputDir: '.',
        _extensionMap: [Object],
        dataKeyLayoutPath: 'layouts/episode.njk',
        _config: [Object],
        _templateRender: [Object],
        inputContent: '---\nlayout: layouts/podcast.njk\nrenderData:\n  title: "{{ title }} | Выпуск {{ number }} | Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;"\n---\n\n<section>\n    <header class="content-header">\n        <h1>{{ title | safe }}</h1>\n        {% if description|length %}\n          <p class="lead">{{ description |safe }}</p>\n        {% endif %}\n    </header>\n\n    {% include "soundcloud-iframe.njk" %}\n\n    {% include "podcast-guests.njk" %}\n\n    {% include "podcast-table-of-contents.njk" %}\n\n    {% include "podcast-shownotes.njk" %}\n\n    {{ content | safe }}\n</section>\n',
        frontMatter: [Object],
        mapCache: [Array],
        layoutChain: [Array],
        dataCache: [Object] },
     dataCache: 
      { metadata: [Object],
        pkg: [Object],
        layout: 'layouts/episode.njk',
        permalink: false,
        tags: [Array],
        renderData: [Object],
        number: 0,
        title: '',
        description: '',
        date: '',
        duration: '',
        soundcloudTrackId: '',
        tableOfContents: [Array],
        shownotes: [Array],
        page: [Object] },
     computedData: 
      ComputedData {
        computed: [Object],
        templateStringKeyLookup: [Object],
        computedKeys: [Object],
        declaredDependencies: [Object],
        queue: [Object] } },
  inputPath: './pages/podcast/episodes/_.md',
  fileSlug: '_',
  filePathStem: '/pages/podcast/episodes/_',
  data: 
   { metadata: 
      { title: 'Мария Воробьева',
        url: 'https://yogic.me/',
        description: 'I am writing about my experiences as a naval navel-gazer.',
        feed: [Object],
        author: [Object],
        podcast: [Object] },
     pkg: 
      { name: 'eleventy-base-blog',
        version: '5.0.2',
        description: 'A starter repository for a blog web site using the Eleventy static site generator.',
        scripts: [Object],
        repository: [Object],
        author: [Object],
        license: 'MIT',
        bugs: [Object],
        homepage: 'https://github.com/11ty/eleventy-base-blog#readme',
        devDependencies: [Object],
        dependencies: [Object] },
     layout: 'layouts/episode.njk',
     permalink: false,
     tags: [ 'episodes' ],
     renderData: 
      { title: ' | Выпуск 0 | Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;' },
     number: 0,
     title: '',
     description: '',
     date: '',
     duration: '',
     soundcloudTrackId: '',
     tableOfContents: [ [Object] ],
     shownotes: [ [Object] ],
     page: 
      { date: 2020-09-28T19:33:23.337Z,
        inputPath: './pages/podcast/episodes/_.md',
        fileSlug: '_',
        filePathStem: '/pages/podcast/episodes/_',
        url: false,
        outputPath: false },
     collections: 
      { all: [Array],
        playlists: [Array],
        episodes: [Array],
        teacher: [Array],
        philosophy: [Array],
        vegetarian: [Array],
        interview: [Array],
        podcastInterview: [Array],
        podcastTeacher: [Array],
        podcastPhilosophy: [Array],
        podcastVegetarian: [Array] } },
  date: 2020-09-28T19:33:23.337Z,
  outputPath: false,
  url: false,
  templateContent: [Getter/Setter] }</pre>
                    
                
            </ul>
        </section>
    


        
    
    

    

    
        
        <section>
            
                <header class="major">
                    <h2>Сборники выпусков</h2>
                </header>
            
            <div class="posts">
                
                    
                        
    

    

    <article>
        <a href="/podcast/playlists/about-vegetarianism/" class="image">
            <img src="/images/playlists/vegetarian.jpg" alt="">
        </a>
        <h3>О&nbsp;вегетарианстве</h3>
        <p>Разговариваем про вегетарианскую диету.</p>
        <ul class="actions">
            <li><a href="/podcast/playlists/about-vegetarianism/" class="button">Подробнее</a></li>
        </ul>
    </article>

                    
                
                    
                        
    

    

    <article>
        <a href="/podcast/playlists/history-and-philosophy-of-yoga/" class="image">
            <img src="/images/playlists/philosophy.jpg" alt="">
        </a>
        <h3>История и&nbsp;философия йоги</h3>
        <p>Сборник выпусков, посвященных истории и&nbsp;философии йоги.</p>
        <ul class="actions">
            <li><a href="/podcast/playlists/history-and-philosophy-of-yoga/" class="button">Подробнее</a></li>
        </ul>
    </article>

                    
                
                    
                        
    

    

    <article>
        <a href="/podcast/playlists/in-search-of-a-teacher/" class="image">
            <img src="/images/playlists/teacher.jpg" alt="">
        </a>
        <h3>В&nbsp;поисках учителя</h3>
        <p>Рассуждения о поиске наставника.</p>
        <ul class="actions">
            <li><a href="/podcast/playlists/in-search-of-a-teacher/" class="button">Подробнее</a></li>
        </ul>
    </article>

                    
                
                    
                        
    

    

    <article>
        <a href="/podcast/playlists/interview/" class="image">
            <img src="/images/playlists/interview.jpg" alt="">
        </a>
        <h3>Интервью</h3>
        <p>Разговоры с интересными людьми из мира йоги.</p>
        <ul class="actions">
            <li><a href="/podcast/playlists/interview/" class="button">Подробнее</a></li>
        </ul>
    </article>

                    
                
            </div>
        </section>
    

    </div>
</div>


            <!-- Sidebar -->
            <div id="sidebar">
                <div class="inner">

                    <!-- Search -->
                    

                    <!-- Menu -->
                    <nav id="menu">
                        <header class="major">
                            <h2>Меню</h2>
                        </header>
                        <ul>
                                <li>
                                    <a href="/">Главная</a></li>
                                <li>
                                    <a href="/about/">Обо мне</a></li>
                                <li>
                                    <a href="/contacts/">Контакты</a></li>
                                <li class="is-active">
                                    <a href="/podcast/">Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;</a><ul>
                                                <li>
                                                    <a href="/podcast/episodes/">Все выпуски</a>
                                                </li>
                                            
                                                <li>
                                                    <a href="/podcast/playlists/interview/">Интервью</a>
                                                </li>
                                            
                                                <li>
                                                    <a href="/podcast/playlists/in-search-of-a-teacher/">В&nbsp;поисках учителя</a>
                                                </li>
                                            
                                                <li>
                                                    <a href="/podcast/playlists/history-and-philosophy-of-yoga/">История и&nbsp;философия йоги</a>
                                                </li>
                                            
                                                <li>
                                                    <a href="/podcast/playlists/about-vegetarianism/">О&nbsp;вегетарианстве</a>
                                                </li>
                                            </ul></li></ul>
                    </nav>

                    <!-- Section -->
                    <section>
                        <header class="major">
                            <h2>На связи</h2>
                        </header>
                        <p>По&nbsp;вопросам семинаров, курсов и&nbsp;индивидуальных занятий:</p>
                        <ul class="contact">
                            <li class="icon solid fa-envelope">
                                <a href="mailto:vorobieva.marya@yandex.ru">vorobieva.marya@yandex.ru</a>
                            </li>
                        </ul>
                    </section>

                    <!-- Footer -->
                    <footer id="footer">
                        <p class="copyright">&copy; Мария Воробьева. 2020</p>
                    </footer>
                </div>
            </div>
        </div>
        <script src="/dist/js/jquery.min.js"></script>
        <script src="/dist/js/browser.min.js"></script>
        <script src="/dist/js/breakpoints.min.js"></script>
        <script src="/dist/js/util.js"></script>
        <script src="/dist/js/main.js"></script>
	</body>
</html>
