---
layout: layouts/podcast.njk
title: Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;
eleventyNavigation:
  key: Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;
  order: 4
---

<section>
    <header class="main">
        <h1>{{ title | safe }}</h1>
        <p>{{ description |safe }}</p>
    </header>

    <table>
        <thead>
            <th>#</th>
            <th>Картинка</th>
            <th>Эпизод</th>
        </thead>
        <tbody>
            {% for episode in collections.episodes %}
                {% if episode.url %}
                    <tr>
                        <td style="vertical-align: top">{{ episode.data.number }}</td>
                        <td style="vertical-align: top">
                            <span class="image">
                                <image
                                    src="{{ episode.data.image | default('/images/podcast/logo-square.jpg') }}"
                                    alt="{{ episode.data.title | safe }}"
                                    style="width: 50px"
                                >
                            </span>
                        </td>
                        <td style="vertical-align: top">
                            <a href="{{ episode.url | url }}">
                                {{ episode.data.title | safe }}
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</section>
