---
permalink: "{{ page.fileSlug }}/index.html"
layout: layouts/home.njk
title: Контакты
eleventyNavigation:
  key: Контакты
  order: 3
---

<section>
    <header class="content-header">
        <h1>{{ title }}</h1>
    </header>

    <p>
        По&nbsp;вопросам семинаров, курсов и&nbsp;лекций:
        <br>
        <a href="mailto:{{ metadata.author.email }}"><b>{{ metadata.author.email }}</b></a>
    </p>

    <ul class="icons">
        {% for link in metadata.author.socials %}
            <li>
                <a href="{{ link.url }}" class="icon brands fa-{{ link.icon }}" rel="nofollow">
                    <span class="label">{{ link.title }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
