{% macro youtubePlayer(props = {}) %}
    {% set videoId = props.videoId %}

    <div class="video">
        <iframe width="966" height="543" src="https://www.youtube.com/embed/{{ videoId }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endmacro %}
