---
title: История и&nbsp;философия йоги
description: Сборник выпусков, посвященных истории и&nbsp;философии йоги.
eleventyNavigation:
  parent: Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;
  key: История и&nbsp;философия йоги
  order: 3
---

{% from "macro/episodes.njk" import episodes %}

<section>
    <header class="content-header">
        <h1>{{ title | safe }}</h1>
        <p class="lead">{{ description | safe }}</p>
    </header>

    {{ episodes({
        'episodes': collections.podcastHistoryAndPhilosophy
    }) }}
</section>
