---
title: В&nbsp;поисках учителя
description: Рассуждения о поиске наставника.
image: "/images/playlists/teacher.jpg"
eleventyNavigation:
  parent: Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;
  key: В&nbsp;поисках учителя
  order: 2
---

{% from "macro/episodes.njk" import episodes %}

<section>
    <header class="content-header">
        <h1>{{ title | safe }}</h1>
        <p class="lead">{{ description | safe }}</p>
    </header>

    {{ episodes({
        'episodes': collections.podcastTeacher
    }) }}
</section>
