---
permalink: "index.html"
layout: layouts/home.njk
eleventyNavigation:
    key: Главная
    order: 1
---

{% from "macros/stage.njk" import stage %}

{{ stage({
    'title': 'Привет, я&nbsp;&mdash;&nbsp;Мария Воробьева',
    'subtitle': 'Преподаватель хатха йоги, йогатерапевт, религиовед, специалист по&nbsp;адаптивной физической культуре.',
    'text': '<p>Веду <a href="http://pranayoga.ru/master/vorobeva" rel="nofollow">групповые занятия</a>, <a href="https://yoga-for-health.ru/" rel="nofollow">онлайн курсы по йогатерапии</a>, <a href="/personal-class/">индивидуальные консультации</a>, офлайн семинары и мастер классы. Увлекаюсь историей и философией йоги, делюсь своими знаниями <a href="/podcast/">в&nbsp;подкасте &laquo;Ёжик в&nbsp;нирване&raquo;</a>.</p>',
    'actions': [
        {
            'url':  '/about/',
            'title': 'Подробнее обо мне'
        }
    ],
    'image': 'images/photo-masha.jpg',
    'imageAlt': 'Фотография Марии Воробьевой'
}) }}
