---
permalink: "index.html"
layout: layouts/home.njk
eleventyNavigation:
    key: Главная
    order: 1
---

{% from "macros/stage.njk" import stage %}

{{ stage({
    'title': 'Привет, я&nbsp;&mdash;&nbsp;Мария Воробьева',
    'subtitle': 'Преподаватель хатха йоги, религиовед, йогатерапевт.',
    'text': '<p>Веду <a href="http://pranayoga.ru/master/vorobeva" rel="nofollow">групповые занятия</a>, онлайн курсы по йогатерапии, <a href="/personal-class/">индивидуальные консультации</a>, офлайн семинары и мастер классы. Делюсь своими знаниями о религиях <a href="/podcast/">в&nbsp;подкасте &laquo;Ёжик в&nbsp;нирване&raquo;</a>.</p>',
    'actions': [
        {
            'url':  '/about/',
            'title': 'Подробнее обо мне'
        }
    ],
    'image': 'images/photo-masha.jpg',
    'imageAlt': 'Фотография Марии Воробьевой'
}) }}
