---
title: О&nbsp;вегетарианстве
description: Разговариваем про вегетарианскую диету.
image: "/images/playlists/vegetarian.jpg"
eleventyNavigation:
  parent: Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;
  key: О&nbsp;вегетарианстве
  order: 4
---

{% from "macros/episodes.njk" import episodes %}

<section>
    <header class="content-header">
        <h1>{{ title | safe }}</h1>
        <p class="lead">{{ description | safe }}</p>
        <p>Мало что волнует наш ум&nbsp;и&nbsp;вызывает столько жарких споров, как разговоры о&nbsp;том, что и&nbsp;как поесть.</p>
        <p>В&nbsp;странах бывшего СССР мясо едят почти все. О&nbsp;других системах питания знают мало. Для примера&nbsp;&mdash; в&nbsp;России не&nbsp;было ни&nbsp;одного серьезного исследования о&nbsp;влиянии вегетарианской диеты на&nbsp;здоровье человека.</p>
        <p>Отказ от&nbsp;убойной пищи, прежде всего, морально-этический вопрос, сложный и&nbsp;часто неоднозначный. Если вы&nbsp;решили пойти по&nbsp;этому пути, то&nbsp;правильно будет не&nbsp;слушать &laquo;пугалки&raquo; о&nbsp;скорой смерти от&nbsp;дефицита белка, а&nbsp;обратиться к&nbsp;проверенной информации и&nbsp;научным данным. Немного разобраться в&nbsp;этом вопросе я&nbsp;вам помогу.</p>
        <h4>Маленькое резюме всех выпусков по&nbsp;данному вопросу:</h4>
        <ul>
            <li>Нет, от&nbsp;поедания мяса вы&nbsp;не&nbsp;умрете, от&nbsp;его отсутствия&nbsp;&mdash; тоже;</li>
            <li>И&nbsp;мясной, и&nbsp;вегетарианский типы питания могут быть как сбалансированными, так и&nbsp;вредными;</li>
            <li>Для здоровой вегетарианской диеты не&nbsp;достаточно заменить мясо на&nbsp;хлеб и&nbsp;макароны, нужно соблюдать несколько довольно простых принципов.</li>
        </ul>
    </header>

    {{ episodes({
        'episodes': collections.podcastVegetarian
    }) }}
</section>
