---
title: О&nbsp;религиях
description: Подборка выпусков подкаста &laquo;Ёжик в&nbsp;нирване&raquo;, в&nbsp;которых мы&nbsp;разговариваем о&nbsp;различных религиях.
image: "/images/playlists/religions.jpg"
eleventyNavigation:
  parent: Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;
  key: О&nbsp;религиях
  order: 5
---

{% from "macros/episodes.njk" import episodes %}

<section>
    <header class="content-header">
        <h1>{{ title | safe }}</h1>
        <p class="lead">{{ description | safe }}</p>
    </header>

    {{ episodes({
        'title': 'Выпуски',
        'episodes': collections.podcastReligions
    }) }}
</section>
