---
title: История и&nbsp;философия йоги
description: Сборник выпусков, посвященных истории и&nbsp;философии йоги.
image: "/images/playlists/philosophy.jpg"
eleventyNavigation:
  parent: Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;
  key: История и&nbsp;философия йоги
  order: 3
---

{% from "macro/episodes.njk" import episodes %}

<section>
    <header class="content-header">
        <h1>{{ title | safe }}</h1>
        <p class="lead">{{ description | safe }}</p>
        <p>От&nbsp;разговоров от&nbsp;&laquo;духовности&raquo; порой нехорошо даже мне, человеку, которому данный аспект весьма близок. Нет ничего более печального, чем слушать бесчисленные эзотерические разговоры про самопознание.</p>
        <p>Йога&nbsp;&mdash; не&nbsp;просто фантазии на&nbsp;гуманитарную тему, где каждый может рассказывать все, что ему кажется. Это сложная, интересная система, требующая глубоких знаний индийской философии, истории.</p>
        <p>Именно странные мифы часто отвращает от&nbsp;йоги образованных и&nbsp;думающих людей. Послушаешь несколько рассказов об&nbsp;энергетических воронках и&nbsp;славянских Ведах и&nbsp;хочется бежать подальше.</p>
        <p>Поэтому и&nbsp;задумываются данные выпуски. Это мой небольшой вклад в&nbsp;умножение знания в&nbsp;мире. Научно-популярный контент, где я&nbsp;стараюсь понятным языком излагать исследования ученых индологов и&nbsp;традиционный взгляд на&nbsp;теорию и&nbsp;практику.</p>
    </header>

    {{ episodes({
        'episodes': collections.podcastPhilosophy
    }) }}
</section>
