---
title: Интервью
description: Разговоры с интересными людьми из мира йоги.
image: "/images/playlists/interview.jpg"
eleventyNavigation:
  parent: Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;
  key: Интервью
  order: 1
---

{% from "macros/episodes.njk" import episodes %}

<section>
    <header class="content-header">
        <h1>{{ title | safe }}</h1>
        <p class="lead">{{ description | safe }}</p>
        <p>Я&nbsp;веду занятия по&nbsp;йоге с&nbsp;2001&nbsp;года, за&nbsp;это время жизнь сводила меня со&nbsp;многими опытнейшими теоретиками и&nbsp;практиками.</p>
        <p>Сфера деятельности у&nbsp;нас специфическая, народ подбирается разный, по&nbsp;большей части, интересный, есть о&nbsp;чем поговорить и&nbsp;что спросить. Этим я&nbsp;и&nbsp;решила заняться&nbsp;&mdash; оставить для истории особый срез общества, людей, для которых йога не&nbsp;новомодная штука из&nbsp;соседнего фитнесс-клуба, а&nbsp;образ жизни, система ценностей и&nbsp;мировоззрение.</p>
        <p>При этом, каждый&nbsp;&mdash; самобытная личность с&nbsp;особым взглядом на&nbsp;мир и&nbsp;отношением к&nbsp;своей профессии.</p>
        <p>Критерии выбора гостей у&nbsp;меня довольно простые. Они&nbsp;&mdash; мастера своего дела, с&nbsp;нетривиальным подходом к&nbsp;практике и&nbsp;преподаванию йоги. В&nbsp;этом вы&nbsp;можете убедиться самостоятельно, прослушав интервью.</p>
    </header>

    {{ episodes({
        'episodes': collections.podcastInterview | reverse
    }) }}
</section>
