---
permalink: "{{ page.fileSlug }}/index.html"
layout: layouts/base.njk
title: Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;
description: Мой подкаст о&nbsp;различных религиях, религиозно-философских учениях&nbsp;и, конечно, о&nbsp;йоге. Рассказываю об&nbsp;их&nbsp;истории, развитии, современном состоянии, общаюсь с&nbsp;интересными, знающими людьми, делаю обзоры книг, курсов и&nbsp;многое другое.
eleventyNavigation:
  key: Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;
  order: 5
---

{% from "macros/episodes.njk" import episodes %}
{% from "macros/playlists.njk" import playlists %}
{% from "macros/stage.njk" import stage %}

<div id="main">
    <div class="inner inner_style_podcast">
        <header id="header" class="header">
            <div class="header__nav">
                <a href="{{ '/podcast/' | url }}" class="header__logo">
                    <strong>{{ metadata.podcast.name | safe }}</strong>
                </a>
            </div>
            <ul class="icons header__icons header__icons_color_dark">
                {% for link in metadata.podcast.socials %}
                    <li>
                        <a href="{{ link.url }}" class="icon brands fa-{{ link.icon }}" rel="nofollow">
                            <span class="label">{{ link.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </header>

        {{ stage({
            'title': title,
            'subtitle': description,
            'actions': [
                {
                    'url':  '/podcast/episodes/',
                    'title': 'Все выпуски подкаста'
                }
            ],
            'image': '/images/podcast/logo-square.jpg',
            'imageAlt': 'Человекоподобный ёж в позе лотоса держит яблоко'
        }) }}
    </div>
    <div class="inner">
        {{ episodes({
            'episodes': [collections.episodes | reverse | first],
            'title': 'Новый выпуск'
        }) }}

        {{ playlists({
            'playlists': collections.playlists,
            'title': 'Сборники выпусков'
        }) }}
    </div>
</div>
