---
layout: layouts/podcast.njk
renderData:
  title: "{{ title }} | Выпуск {{ number }} | Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;"
---

<section>
    <header class="content-header">
        <h1>{{ title | safe }}</h1>
        {% if description|length %}
          <p class="lead">{{ description |safe }}</p>
        {% endif %}
    </header>

    {% include "soundcloud-iframe.njk" %}

    {% include "podcast-guests.njk" %}

    {% include "podcast-table-of-contents.njk" %}

    {% include "podcast-shownotes.njk" %}

    {{ content | safe }}
</section>
