---
layout: layouts/podcast.njk
renderData:
  title: "{{ title }} | Выпуск {{ number }} | Подкаст &laquo;Ёжик в&nbsp;нирване&raquo;"
---

<section>
    <header class="main">
        <h1>{{ title | safe }}</h1>
        <p>{{ description |safe }}</p>
    </header>

    <br><p>{% include "soundcloud-iframe.njk" %}</p>

    {% include "podcast-guests.njk" %}

    {% include "podcast-table-of-contents.njk" %}

    {% include "podcast-shownotes.njk" %}

    {{ content | safe }}
</section>
