<section>
    <header class="major">
        <h2>На связи</h2>
    </header>
    <p>По&nbsp;вопросам семинаров, курсов и&nbsp;лекций:</p>
    <ul class="contact">
        <li class="icon solid fa-envelope">
            <a href="mailto:{{ metadata.author.email }}">{{ metadata.author.email }}</a>
        </li>
    </ul>
</section>
