{% macro episode(props = {}) %}
    {% set episode = props.episode | default({}) %}

    <article class="episode-preview">
        <div class="episode-preview__picture">
            <div class="picture picture_shape_square">
                <div class="picture__container">
                    <img
                        class="picture__image"
                        src="{{ episode.data.image | default('/images/podcast/logo-square.jpg') }}"
                        alt="Обложка выпуска номер {{ episode.data.number }} - {{ episode.data.title | safe }}"
                    />
                </div>
            </div>
        </div>
        <div class="episode-preview__main">
            <div class="episode-preview__credits credits">
                <ul class="credits__list block-list">
                    <li class="credits__item">
                        <span class="credits__text">Выпуск {{ episode.data.number }}</span>
                    </li>
                    <li class="credits__item episode-preview__credits-item_hidden_from-large">
                        <time
                            class="episode-preview__additional-text"
                            title="Продолжительность выпуска"
                        >
                            {{ episode.data.duration | readableEpisodeDuration }}</span>
                        </time>
                    </li>
                    <li class="credits__item episode-preview__credits-item_hidden_from-large">
                        <time
                            datetime="{{ episode.data.date }}"
                            class="credits__text"
                            title="Дата публикации"
                        >
                            {{ episode.data.date | readableDate }}
                        </time>
                    </li>
                </ul>
            </div>
            <h3 class="episode-preview__title">
                <a href="{{ episode.url | url }}" class="episode-preview__link">
                    {{ episode.data.title | safe }}
                </a>
            </h3>
            {% if episode.data.description|length %}
                <div class="episode-preview__description">
                    <div class="episode-preview__desc-picture">
                        <div class="picture picture_shape_square">
                            <div class="picture__container">
                                <img
                                    class="picture__image"
                                    src="{{ episode.data.image | default('/images/podcast/logo-square.jpg') }}"
                                    alt="Обложка выпуска номер {{ episode.data.number }} - {{ episode.data.title | safe }}"
                                />
                            </div>
                        </div>
                    </div>
                    {{ episode.data.description |safe }}
                </div>
            {% endif %}
        </div>
        <div class="episode-preview__additional episode-preview__additional_type_duration">
            <time class="episode-preview__additional-text" title="Продолжительность выпуска">
                {{ episode.data.duration | readableEpisodeDuration }}</span>
            </time>
        </div>
        <div class="episode-preview__additional episode-preview__additional_type_date">
            <time
                datetime="{{ episode.data.date }}"
                class="episode-preview__additional-text"
                title="Дата публикации"
            >
                {{ episode.data.date | readableDate }}
            </time>
        </div>
    </article>
{% endmacro %}
